.content{
	border:1px solid lightgray;
	padding:10px;
}

thead>tr>th:nth-child(1){
	font-size:30px;
}
.count{
	font-size:15px;
}
#viewcount {
	width: 50px;
	text-align: center;
}

a {
	text-decoration: none;
}

.category {
	float: right;
	margin-right:3rem;
	border: 1px solid lightgray;
	padding:50px 30px 50px 30px;
}

.category>a {
	width: 200px;
	height: 100px;
	font-size: 20px;
}
.menu{
	list-style:none;
	padding-left:0;
}
.menu > list{
	text-align:start;
}

.board_view {
	color: black;
}

.board_view:hover {
	opacity: 0.7;
	color: red;
}

.category>a:hover {
	opacity: 0.9;
}

.delete {
	float: right;
}

.delete>input {
	width: 40px;
	height: 40px;
}

#search {
	float: right;
	width: 300px;
	vertical-align: top;
}

.content {
	display: inline-block;
	width:80%;
}
.rows{
	float:right;
	
}
#viewcount{
	width:80px;
}